- var section_titles = [section_festival.title, section_cronograma.title,section_invitades.title,section_feria.title,section_exposiciones.title]

html
  head
    title=site_data.title
    include components/header.pug
  body
    .loading-overlay
      p CARGANDO...
    include components/navbar.pug
    main
      .section.welcome
        .top-illus(data-aos="fade" data-aos-delay="300")
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="800")
        .box
          h1(data-aos="zoom-in")=site_data.title
          h2
            each val in site_data.date
              p(data-aos="fade-up")=val
      .section.elfestival
        .box
          h2.section-title(data-aos="fade-up")=section_festival.title
          each val in section_festival.text
            p(data-aos="fade-up")=val
      .section.cronograma
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="1000")
        .box
          h2.section-title(data-aos="fade-up")=section_cronograma.title
          each val in section_cronograma.events
            .event-container
              h3.time(data-aos="fade-up")=val.time
              each inVal in val.details
                p.details(data-aos="fade-up")=inVal
      .section.invitades
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="1000")
        .box(data-aos="fade-up")
          h2.section-title=section_invitades.title
          each val in section_invitades.text
            p=val
          each val in section_invitades.invitades
            .invitade-container(data-aos="fade-up")
              h3.name=val.name
              h5.type=val.type
              if (val.title)
                h3.title=val.title
              span.time_place=val.time + ' ' + val.place
      .section.feria
        .box
          h2.section-title(data-aos="fade-up")=section_feria.title + ' SUDESTADA'
          each val in section_feria.text
            p(data-aos="fade-up")=val
      .section.exposiciones
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="1000")
        .box
          h2.section-title(data-aos="fade-up")=section_exposiciones.title
          each val in section_exposiciones.exposiciones
            h3(data-aos="fade-up")=val.title
            p(data-aos="fade-up")=val.text
            h4(data-aos="fade-up")=val.subtitle
            p(data-aos="fade-up")=val.artist_list
            p(data-aos="fade-up")=val.footer
    include components/footer.pug
    script(src="main.js")