- var section_titles = [section_festival.title, section_cronograma.title,section_invitades.title,section_feria.title,section_exposiciones.title]

html
  head
    title=site_data.title
    include components/header.pug
  body
    .loading-overlay
      .loading-image
      p CARGANDO...
    include components/navbar.pug
    main
      .section.welcome
        .top-illus(data-aos="fade" data-aos-delay="300")
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="800")
        .box
          h1(data-aos="zoom-in")=site_data.title
          h2
            each val in site_data.date
              p(data-aos="fade-up")=val
      .section.elfestival
        .box
          h2.section-title(data-aos="fade-up")=section_festival.title
          p(data-aos="fade-up").
            El Festival Sudestada de dibujo e ilustración vuelve, resiste y se sostiene como una fecha central en la ciudad de Buenos Aires para el encuentro entre los profesionales de la industria cultural del dibujo y la ilustración, y su público en general.
          p(data-aos="fade-up").
            Como en su #[a(href="http://festivalsudestada.com/edicion_2017") primera edición en 2017], el festival estará centrado en tres ejes principales: las conferencias de nuestrxs invitadxs, donde grandes referentes dan cuenta de su labor profesional; la feria editorial, que reúne gran parte del momento actual de la producción gráfica, y las exposiciones, que en este caso dan cuenta de dos espacios muy distintos: el universo del pattern, donde la ilustración muestra su habilidad para expandirse en cualquier superficie y evidencia su potencia en el mundo del diseño industrial; y la historieta en su cara más experimental, a través de un inédito encuentro entre doce artistas referentes de Argentina y Brasil que expanden el camino plástico y narrativo de la historieta contemporánea.
      .section.cronograma
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="1000")
        .box
          h2.section-title(data-aos="fade-up")=section_cronograma.title
          each val in section_cronograma.events
            .event-container
              h3.time(data-aos="fade-up")=val.time
              each inVal in val.details
                p.details(data-aos="fade-up")=inVal
      .section.invitades
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="1000")
        .box(data-aos="fade-up")
          h2.section-title=section_invitades.title
          each val in section_invitades.text
            p=val
          each val in section_invitades.invitades
            .invitade-container(data-aos="fade-up")
              a(href=val.artist_link, title="Ir a sitio web del artista")
                h3.name=val.name
              h5.type=val.type
              if (val.title)
                h3.title=val.title
              span.time_place=val.time + ' ' + val.place
      .section.feria
        .box
          h2.section-title(data-aos="fade-up")=section_feria.title + ' SUDESTADA'
          each val in section_feria.text
            p(data-aos="fade-up")=val
      .section.exposiciones
        .left-illus(data-aos="fade" data-aos-delay="500")
        .right-illus(data-aos="fade" data-aos-delay="1000")
        .box
          h2.section-title(data-aos="fade-up")=section_exposiciones.title
          each val in section_exposiciones.exposiciones
            h3(data-aos="fade-up")=val.title
            p(data-aos="fade-up")=val.text
            p(data-aos="fade-up").place=val.place
            h4(data-aos="fade-up")=val.subtitle
            p(data-aos="fade-up")=val.artist_list
            p(data-aos="fade-up")=val.footer
      .section.quienes-somos
        .box
          h2.section-title(data-aos="fade-up") QUIENES SOMOS
          p(data-aos="fade-up").
            El Festival Sudestada es construido por Angela Corti (Exposiciones), Pablo Picyk (Diseño Gráfico), Julia Bustos (Producción), Guido La Rosa (Diseño Web), Ezequiel García y Alejandro Bidegaray (Coordinación y Dirección Creativa), además de todo el equipo de producción, artística y comunicación del C.C.Recoleta.
          p(data-aos="fade-up").
            La gráfica de este año es obra de Pablo Besse.
    include components/footer.pug
    script(src="main.js")