meta(lang="es")

//- SEO MetaTags

meta(name="description", content=section_festival.text[0])

meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

meta(http-equiv="Content-Type", content="text/html; charset=ISO-8859-1")

//- Viewport meta tag

meta(name="viewport", content="width=device-width, initial-scale=1.0")

//- My CSS

link(rel="stylesheet" type="text/css" href="stylesheet.css")

//- Favicon logo

link(rel="shortcut icon" type="image/png" href="img/favicon.png")

//- Font awesome

link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css", integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL", crossorigin="anonymous")

link(rel="stylesheet" ,href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css", integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW", crossorigin="anonymous")

link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css", integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I", crossorigin="anonymous")

//- Animate on scroll (AOS)

link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")

script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")

//- JQuery

script(src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")

script(src="src/pace.min.js")